<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldd.ssm.hangyu.mapper.BarrierMapper" >
  <resultMap id="BaseResultMap" type="org.ldd.ssm.hangyu.domain.Barrier" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="barrierName" property="barriername" jdbcType="VARCHAR" />
    <result column="magneticBearing" property="magneticbearing" jdbcType="VARCHAR" />
    <result column="distance" property="distance" jdbcType="VARCHAR" />
    <result column="coordinates" property="coordinates" jdbcType="VARCHAR" />
    <result column="altitude" property="altitude" jdbcType="VARCHAR" />
    <result column="leg" property="leg" jdbcType="VARCHAR" />
    <result column="rek" property="rek" jdbcType="VARCHAR" />
    <result column="IATA" property="iata" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, no, barrierName, magneticBearing, distance, coordinates, altitude, leg, rek, 
    IATA
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Barrier
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Barrier
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.ldd.ssm.hangyu.domain.Barrier" >
    insert into Barrier (id, no, barrierName, 
      magneticBearing, distance, coordinates, 
      altitude, leg, rek, 
      IATA)
    values (#{id,jdbcType=BIGINT}, #{no,jdbcType=VARCHAR}, #{barriername,jdbcType=VARCHAR}, 
      #{magneticbearing,jdbcType=VARCHAR}, #{distance,jdbcType=VARCHAR}, #{coordinates,jdbcType=VARCHAR}, 
      #{altitude,jdbcType=VARCHAR}, #{leg,jdbcType=VARCHAR}, #{rek,jdbcType=VARCHAR}, 
      #{iata,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ldd.ssm.hangyu.domain.Barrier" >
    insert into Barrier
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="barriername != null" >
        barrierName,
      </if>
      <if test="magneticbearing != null" >
        magneticBearing,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="coordinates != null" >
        coordinates,
      </if>
      <if test="altitude != null" >
        altitude,
      </if>
      <if test="leg != null" >
        leg,
      </if>
      <if test="rek != null" >
        rek,
      </if>
      <if test="iata != null" >
        IATA,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="barriername != null" >
        #{barriername,jdbcType=VARCHAR},
      </if>
      <if test="magneticbearing != null" >
        #{magneticbearing,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        #{distance,jdbcType=VARCHAR},
      </if>
      <if test="coordinates != null" >
        #{coordinates,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null" >
        #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="leg != null" >
        #{leg,jdbcType=VARCHAR},
      </if>
      <if test="rek != null" >
        #{rek,jdbcType=VARCHAR},
      </if>
      <if test="iata != null" >
        #{iata,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ldd.ssm.hangyu.domain.Barrier" >
    update Barrier
    <set >
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="barriername != null" >
        barrierName = #{barriername,jdbcType=VARCHAR},
      </if>
      <if test="magneticbearing != null" >
        magneticBearing = #{magneticbearing,jdbcType=VARCHAR},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=VARCHAR},
      </if>
      <if test="coordinates != null" >
        coordinates = #{coordinates,jdbcType=VARCHAR},
      </if>
      <if test="altitude != null" >
        altitude = #{altitude,jdbcType=VARCHAR},
      </if>
      <if test="leg != null" >
        leg = #{leg,jdbcType=VARCHAR},
      </if>
      <if test="rek != null" >
        rek = #{rek,jdbcType=VARCHAR},
      </if>
      <if test="iata != null" >
        IATA = #{iata,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ldd.ssm.hangyu.domain.Barrier" >
    update Barrier
    set no = #{no,jdbcType=VARCHAR},
      barrierName = #{barriername,jdbcType=VARCHAR},
      magneticBearing = #{magneticbearing,jdbcType=VARCHAR},
      distance = #{distance,jdbcType=VARCHAR},
      coordinates = #{coordinates,jdbcType=VARCHAR},
      altitude = #{altitude,jdbcType=VARCHAR},
      leg = #{leg,jdbcType=VARCHAR},
      rek = #{rek,jdbcType=VARCHAR},
      IATA = #{iata,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectBarriersByIata" resultMap="BaseResultMap">
  	select
  	<include refid="Base_Column_List"/>
  	from Barrier
  	<where>
  		<if test="iata!=null and iata != ''">
  			IATA = #{iata,jdbcType=VARCHAR}
  		</if>
  	</where>
  </select>
</mapper>