<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ldd.ssm.hangyu.mapper.LoginMapper" >
	<resultMap id="BaseResultMap" type="org.ldd.ssm.hangyu.domain.Employee" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="userName" property="username" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
	    <result column="role" property="role" jdbcType="VARCHAR" />
	    <result column="whetherSign" property="whethersign" jdbcType="VARCHAR" />
	    <result column="airlineRetrievalCondition" property="airlineretrievalcondition" jdbcType="VARCHAR" />
	    <result column="intentionMoney" property="intentionMoney" jdbcType="VARCHAR"/>
	    <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
	    <result column="head_portrait" property="headPortrait" jdbcType="VARCHAR"/>
	    <result column="phone" property="phone" jdbcType="VARCHAR"/>
	    <result column="email" property="email" jdbcType="VARCHAR"/>
	    <result column="concat" property="concat" jdbcType="VARCHAR" />
	    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
	    <result column="department" property="department" jdbcType="VARCHAR" />
	    <result column="position" property="position" jdbcType="VARCHAR" />
	    <result column="company_addr" property="companyAddr" jdbcType="VARCHAR" />
  </resultMap>
	<select id="checkLogin" resultMap="BaseResultMap">
		select * from employee 
		<where>
			1=1
			<if test="name != null and name != ''">
				and (userName = #{name} or phone = #{name} or email = #{name})
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
		</where>
	</select>
</mapper>