<component name="ArtifactManager">
  <artifact type="war" name="springandredis:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springandredis.war">
      <element id="artifact" artifact-name="springandredis:war exploded" />
    </root>
  </artifact>
</component>